Source: bunsen-thunar
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: https://github.com/BunsenLabs/bunsen-thunar
Vcs-Git: https://github.com/BunsenLabs/bunsen-thunar.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-thunar

Package: bunsen-thunar
Architecture: all
Depends: ${misc:Depends}, libthunarx-3-0
Description: Modify the behaviour of Thunar for BunsenLabs
 This package modifies the behaviour of the Thunar file manager
 for use with BunsenLabs.
 .
 At present the following actions are performed:
  - Disable the "Set as Wallpaper" context menu item,
 which depends on xfdesktop4.

